<ul>
  <li><%= link_to cat.name, edit_cat_url(cat) %>
    <ul>
      <li><%= cat.birthdate %></li>
      <li><%= cat.age %></li>
      <li><%= cat.sex %></li>
      <li><%= cat.color %></li>
      <li><%= cat.description %></li>
    </ul>
  </li>
</ul>
